# Welcome!

Today we will learn how to use Python, Jupyter Notebooks and pandas for basic data analysis for news.

- Jon Keegan, Investigative data journalist at [The Markup](themarkup.org)
- There are no dumb questions! Ask anything.
- This is based off of Ben Welsh's (Reuters) superb [First Python Notebook](https://palewi.re/docs/first-python-notebook/) class.
- What do you know? Have you worked with code? Worked with data?
- Jargon: Python, Jupyter, pandas
- Notebooks are the gold standard for sharing reproduceable analysis. Write code, run code, remix and republish all in the browser.
- Top to bottom
- Common patterns
- Examples of news orgs sharing notebooks
- Tour of the notebook interface: cells, toolbar, file browser

# Cells

# pandas

In [ ]:
import pandas as pd

# Dataframes

# Inspecting columns and data types

# Counting column values

# Reset a dataframe

# Quiz

1. What was the total number of fatalities?

2. Which helicopter maker had the most accidents?

3. What was the total number of helicopter accidents by year?

4. Which state had the most helicopter accidents?

# Filtering

Conditionals: ==, !=, <=, >=, &

# Quiz

1. Which state recorded more accidents, Iowa ("IA") or Missouri ("MO")?

2. How many accidents recorded more than one fatality?

3. How many accidents happened in California in 2015?

4. What percentage of the total fatalities occured in California?

# Grouping

# Merging

# Computing new columns

# Sorting and exporting